

<br />
<br />

<div class="container">
    <div class="col-md-4">
        <form id="imageForm" name="imageForm">
            <label>Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Please enter text" required />
            <p style="color:red" id="imageTitle" hidden>Please enter tittle</p><br />
            <label>Attachment:</label>
            <input type="file" id="SelectImage" class="form-control" required /><br />
            <p style="color:red" id="image" hidden>Please select image</p><br />
            <a href="#" class="btn btn-sm btn-danger" onclick="UploadImage()">Upload</a>
        </form>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <script>
        var UploadImage = function () {
            debugger
            if (!$("#imageForm").valid())
                return false;

            var title = $("#title").val();
            var file = $("#SelectImage").get(0).files;

            var data = new FormData;
            data.append("ImageFile", file[0]);
            data.append("Title", title)
            $.ajax({
                type: "POST",
                url: "/Home/ImageUpload",
                data: data,
                contentType: false,
                processData: false,
                success: function (imgID) {
                    $('#imageForm').trigger("reset");
                }
            })
        }

    </script>

}